<!DOCTYPE html>
<html>
<head>
    <title>Edit Contact</title>
</head>
<body>
    <h1>Edit Contact</h1>
    <form action="{{ url_for('main.edit_contact', email=contact.email) }}" method="post">
        IME: <input type="text" name="ime" value="{{ contact.ime }}"><br>
        PREZIME: <input type="text" name="prezime" value="{{ contact.prezime }}"><br>
        EMAIL: <input type="text" name="email" value="{{ contact.email }}"><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
